body {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  background: rgb(250, 216, 231);
  background: linear-gradient(
    155deg,
    rgba(250, 216, 231, 1) 0%,
    rgba(180, 214, 255, 0.39959733893557425) 100%
  );
}
